.carousel {
  display: flex;
  position: relative;
  height: 320px;
  width: 80%;
  left: 10%;
  overflow: hidden;

  &-track {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  &-item {
    position: relative;
    max-width: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
   
    

    img {
      width: 200px;
    }

    .carousel-item-title{
      position: relative;
      padding-left: 30px;
      
    }

    p {
      display: flex;
      margin: 0;
      font-size: 22px;
      justify-content: center;
      width: 100%;
    }

    &-number {
      display: flex;
      font-weight: bold;
      color: red;
      justify-content: center;
      width: 100%;
    }

    &-title {
      font-weight: 400;
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &--left {
      left: 0px;
    }

    &--right {
      right: 0;
    }
  }
}
