$cor-fundo: #FFFFFF;
$cor-botao: #000000;
$cor-fundo-figcaption: rgba(255, 255, 255, 0.8);
$cor-texto-destaque: red;

.carousel-container {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;

  .carousel {
    display: flex;
    overflow-x: scroll;
    -behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: 20px;

    &::-webkit-scrollbar {
      width: 6px;
    }
  }
}

figure {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  max-width: 357px;
  margin: 0;
  scroll-snap-align: center;

  text-align: center;
  height: 300px;
  
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: $cor-fundo-figcaption;
}

.carousel-button {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: $cor-botao;
  cursor: pointer;
}

.carousel-button-left {
  left: 0;
}

.carousel-button-right {
  right: 0;
}

span {
  color: $cor-texto-destaque;
}
.novidades {
  h2{
font-size: 50px;


 }
 p{
  font-size: 20px;
 }
}